@{
    ViewData["Title"] = "Series";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<select class="select">
    <option value="">Selecione o Gênero</option>
    <option value="">Teste</option>
</select>


<div class="box-series">
    <div class="user-series">
        <img src="/Images/photo.png" alt="perfil" class="img-perfil-series" />
        <p>Sugestão enviada por<b> Nome da Pessoa</b></p>
    </div>

    <div class="box-information-series">
        <p>Nome: <b>Filme X</b></p>
        <p>Gênero: <b>Comédia</b></p>
        <p>Data de Lançamento: <b>08/08/2000</b></p>
        <p>Temporadas: <b>Sim</b></p>
        <p>Produtora: <b>Disney</b></p>
        <p>Disponível: <b>Cinemas, Amazon e Netflix</b></p>
    </div>
</div>