@{
    ViewData["Title"] = "Series";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<select class="select">
    <option value="">Selecione o Gênero</option>
    <option value="">Teste</option>
</select>


<div>
    <div>
        <h3>Título</h3>
        <p>Descrição da Série</p>
        <p>Disponível em</p>
        <a href="#">Saiba Mais</a>
    </div>
</div>
