@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/signUp.css" />

<div id="box-signUp">
    <h2>CADASTRO</h2>
    @using (Html.BeginForm("Index", "SignUp", FormMethod.Post))
    {
        @*@Html.EditorFor(model => model.Email, new { @class = "form-control input-lg required", @name = "email", @id = "email", @placeholder = "Email", @type = "text" });*@
        <input type="email" class="email" name="email" placeholder="Email" required />

        <input type="text" class="nickName" name="nickName" placeholder="Apelido" required />

        <input type="password" name="password" class="password" placeholder="Senha" required />

        <input type="password" name="re-password" class="re-password" placeholder="Repita a Senha" required />

        <input type="submit" class="btn-submit" value="Cadastro" />

    }
</div>