.box-series {
    margin-top: 100px;
    width: 85vw;
    height: 55vh;
    box-shadow: 0 2px 4px rgba(0,0,0,255);
    background-image: linear-gradient(180deg, rgba(150,20,255,.8), rgba(0,0,0,255))
}

.box-series .user-series, .img-perfil-series {
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 100px;
    margin: 1rem;
}

.box-series .user-series p {
    color: white;
}

.box-series .box-information-series p {
    margin-left: 50px;
    color: white;
}
