* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

#box-login {
    display: block;
    max-width: 100%;
    width: 30vw;
    min-width: 20vw;
    height: 65vh;
    box-shadow: 0 6px 6px rgba(0,0,0,255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    background: #000;
}


#box-login, form, h2, .email, .password {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.email, .password, .btn-submit {
    margin-top: 2rem;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    color: #fff;
    outline: none;
    font-weight: bold;
}

.email, .password {
    font-size: 1.1rem;
    width: 25vw;
}

.email:focus, .password:focus {
    border-bottom-color: rgba(200,0,0,.8);
    transition: all .5s linear;
}

::-webkit-input-placeholder {
    color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}

:-ms-input-placeholder {
    color: #fff;
}

.btn-submit {
    border: none;
}

.btn-submit:hover {
   color: rgba(250,0,0,.8);
   transition: all .3s linear;
}