@{
    ViewData["Title"] = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<select class="select">
    <option value="">Selecione o Gênero</option>
    <option value="">Teste</option>
</select>


<div class="box-info">
    <div class="user-info">
        <img src="/Images/photo.png" alt="perfil" class="img-profile-info" />
        <p>Sugestão enviada por<b> Nome da Pessoa</b></p>
    </div>

    <div class="box-information">
        <p>Nome: <b>Jogo X</b></p>
        <p>Gênero: <b>Indie</b></p>
        <p>Data de Lançamento: <b>Jogo X</b></p>
        <p>Single ou Multiplayer: <b>Sim</b></p>
        <p>Preço: <b>Sim</b></p>
        <p>Desenvolvedora: <b>Steam</b></p>
        <p>Plataformas Disponíveis: <b>PC, XBOX ONE e PS4</b></p>
    </div>
</div>


