<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MSGM</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/header.css" />
    <link rel="stylesheet" href="~/css/series.css" />
    <link rel="stylesheet" href="~/css/neutral.css" />
    <link rel="stylesheet" href="~/css/content-games.css" />

</head>
<body>
    <header class="header">
        <a href="/"><img src="~/Images/logo.png" alt="Logo" /></a>
        <nav>
            <ul class="menu">
                <li><a href="/SignUp">Cadastre-se</a></li>
                <li><a href="/Login">Login</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
