@{
    ViewData["Title"] = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<select class="select">
    <option value="">Selecione o Gênero</option>
    <option value="">Teste</option>
</select>

<div class="box-movies">
    <div class="user-movies">
        <img src="/Images/photo.png" alt="perfil" class="img-perfil-movies" />
        <p>Sugestão enviada por<b> Nome da Pessoa</b></p>
    </div>

    <div class="box-information-movies">
        <p>Nome: <b>Filme X</b></p>
        <p>Gênero: <b>Comédia</b></p>
        <p>Data de Lançamento: <b>08/08/2000</b></p>
        <p>Duração: <b>Sim</b></p>
        <p>Produtora: <b>Disney</b></p>
        <p>Principais Atrizes e Atores: <b>Steam</b></p>
        <p>Disponível: <b>Cinemas, DVD e Netflix</b></p>
    </div>
</div>

<div class="box-movies">
    <div class="user-movies">
        <img src="/Images/photo.png" alt="perfil" class="img-perfil-movies" />
        <p>Sugestão enviada por<b> Nome da Pessoa</b></p>
    </div>

    <div class="box-information-movies">
        <p>Nome: <b>Filme X</b></p>
        <p>Gênero: <b>Comédia</b></p>
        <p>Data de Lançamento: <b>08/08/2000</b></p>
        <p>Duração: <b>Sim</b></p>
        <p>Produtora: <b>Disney</b></p>
        <p>Principais Atrizes e Atores: <b>Steam</b></p>
        <p>Disponível: <b>Cinemas, DVD e Netflix</b></p>
    </div>
</div>

<div class="box-movies">
    <div class="user-movies">
        <img src="/Images/photo.png" alt="perfil" class="img-perfil-movies" />
        <p>Sugestão enviada por<b> Nome da Pessoa</b></p>
    </div>

    <div class="box-information-movies">
        <p>Nome: <b>Filme X</b></p>
        <p>Gênero: <b>Comédia</b></p>
        <p>Data de Lançamento: <b>08/08/2000</b></p>
        <p>Duração: <b>Sim</b></p>
        <p>Produtora: <b>Disney</b></p>
        <p>Principais Atrizes e Atores: <b>Steam</b></p>
        <p>Disponível: <b>Cinemas, DVD e Netflix</b></p>
    </div>
</div>