@{
    ViewData["Title"] = "Music";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<select class="select">
    <option value="">Selecione o Gênero</option>
    <option value="">Teste</option>
</select>

<div class="box-music">
    <div class="user-music">
        <img src="/Images/photo.png" alt="perfil" class="img-perfil-music" />
        <p>Sugestão enviada por<b> Nome da Pessoa</b></p>
    </div>

    <div class="box-information-music">
        <p>Nome: <b>Filme X</b></p>
        <p>Gênero: <b>Sertanejo</b></p>
        <p>Data de Lançamento: <b>08/08/2000</b></p>
        <p>Cantor(as)(es): <b>Sim</b></p>
        <p>Link da Música: <b>Disney</b></p>
        <p>Disponível: <b>Youtube e Spotify</b></p>
    </div>
</div>