@{
    ViewData["Title"] = "Music";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<select class="select">
    <option value="">Selecione o Gênero</option>
    <option value="">Teste</option>
</select>