@{
    ViewData["Title"] = "Home Page";
}


<link href="~/css/content.css" rel="stylesheet" />

<div class="container-home">
    <a href="#">
        <div class="box">
            <div class="imgBx">
                <img src="~/Images/music.jpg" />
            </div>
            <div class="content">
                <div>
                    <h2>Músicas</h2>
                    <p>Encontre sua nova música favorita</p>
                </div>
            </div>
        </div>
    </a>

    <a href="#">
        <div class="box">
            <div class="imgBx">
                <img src="~/Images/series.jpg" />
            </div>
            <div class="content">
                <div>
                    <h2>Séries</h2>
                    <p>Encontre sua nova série favorita</p>
                </div>
            </div>
        </div>
    </a>

    <a href="#">
        <div class="box">
            <div class="imgBx">
                <img src="~/Images/games.jpg" />
            </div>
            <div class="content">
                <div>
                    <h2>Jogos</h2>
                    <p>Encontre seu novo jogo favorito</p>
                </div>
            </div>
        </div>
    </a>

    <a href="#">
        <div class="box">
            <div class="imgBx">
                <img src="~/Images/filmes.jpg" />
            </div>
            <div class="content">
                <div>
                    <h2>Filmes</h2>
                    <p>Encontre seu novo filme favorito</p>
                </div>
            </div>
        </div>
    </a>
</div>